@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
  --main-color: #318CE7;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    margin-top: 90px;
    
  }

  a.menu {
    /* display: inline-block; */
    /* width: 100%; */
    padding: 10px 20px;
    font-size: 16px; 
    margin: 5px 0px;
    text-align: center;
    text-decoration: none;
    background-color: var(--main-color);
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.5rem;
}

a.menu:hover {
  background-color: #333;
}

  main {
    /* padding: 20px; */
      
    max-width: 600px;
    margin: 0 auto;
    
  }

  a {
    text-decoration: none;
    color: #333;
    
  }

  .menu-link {
    display: block;
  }

  .column {
    display: flex;
    flex-direction: column;
    /* background-color: red; */
  }

  .container {
    max-width: 600px;
    
  }

  .center {
    text-align: center;
  }